<!DOCTYPE html>
<html style="height:100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>后台管理</title>
    <link href="../../css/layout.css?v=upd201600405" rel="stylesheet" type="text/css"/>
    <link href="../../css/style.css?v=upd20160427" rel="stylesheet" type="text/css"/>
    <link href="../../js/layer/skin/layer.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/imagemanage.css?v=upd20161010" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="../../images/favicon.ico">
    <link href="../../js/scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" type="text/css"/>
    <!-- respond.js for IE less than 9 -->
    <!--[if lt IE 9]>
    <script src="../../js/respond.js" type="text/javascript"></script>
    <![endif]-->
    <script>
        (function () {
            if (!
                            /*@cc-on!@*/
                            0) return;
            var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
            var i = e.length;
            while (i--) {
                document.createElement(e[i])
            }
        })()
    </script>

</head>
<body class="pacs-image-con-body">
<div class="header backheader">
    <div class="header-content">
        <div class="head-left fl clearfixed backhead-left">
            <a href="#" class=""><img src="../../images/log.png" alt=""/></a>
            <span></span>
        </div>

        <div class="head-right fl clearfixed">
            <div class="user-head">
                <img src="../../images/user.jpg" alt=""/>
            </div>
            <div class="user-info backuser-info">
                <p>
                    欢迎您，<span>用户名</span>
                    <a href="#" class="message"><i></i> <em>99+</em></a>
                </p>

                <p>
                    <a href="javascript:;">首页</a>
                    <a href="javascript:;">设置</a>
                    <a href="javascript:;">帮助</a>
                    <a href="javascript:;">退出</a>
                </p>
            </div>
        </div>

    </div>
</div>
<div class="pacs-warp">
    <h4>
        <span class="width96"><a href="#">后台管理</a> ><a href='#'>区域预约管理</a> ><a href='#'>预约时间管理</a></span>
    </h4>
    <div class="width96">
        <div class="back-left">
            <ul class="back-left-ul">
                <li class="back-left-li0 back-left-ulli">
                    <a href="back-linkhospital.html">连接医院管理</a>
                </li>
                <li>
                    <i></i><a class="back-left-ula" href="#">医院和用户管理</a>
                    <div class="back-left-list" style="display: none;">
                        <ul class="back-left-listul">
                            <li>
                                <a href="back-user-usermanage.html">用户/角色管理</a>
                            </li>
                            <li>
                                <a href="back-user-areamain.html">行政地区维护</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="current">
                    <i></i><a class="back-left-ula" href="#">区域预约管理</a>
                    <div class="back-left-list" style="display: none;">
                        <ul class="back-left-listul">
                            <li>
    							<a href="back-region-hoslist.html">医院列表管理</a>
    						</li>
    						<li>
    							<a href="back-region-equiplist.html">设备列表管理</a>
    						</li>
    						<li>
    							<a href="back-region-appointment.html">预约时间管理</a>
    						</li>
    						<li >
    							<a href="back-region-check.html">检查部位管理</a>
    						</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <i></i><a class="back-left-ula" href="#">集中诊断管理</a>
                    <div class="back-left-list"  style="display: none;">
                        <ul class="back-left-listul">
                            <li>
                                <a href="back-diagnosis-hospital.html">医院列表管理</a>
                            </li>
                            <li>
                                <a href="back-diagnosis-apply.html">申请用户管理</a>
                            </li>
                            <li>
                                <a href="back-diagnosis-user.html">诊断用户管理</a>
                            </li>
                            <li>
                                <a href="back-dianosis-center.html">诊断中心管理</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <i></i><a class="back-left-ula" href="#">影像质控管理</a>
                    <div class="back-left-list" >
                        <ul class="back-left-listul">
                            <li>
                                <a href="back-video-project.html">评分项目管理</a>
                            </li>
                            <li class="current">
                                <a href="back-video-rank.html">评分等级管理</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li  class="back-left-li5 back-left-ulli ">
                    <a href="back-data-manage.html">数据管理</a>
                </li>
                <li  class="back-left-li6 back-left-ulli ">
                    <a href="back-log-manage.html">日志管理</a>
                </li>
                <li  class="back-left-li7 back-left-ulli">
                    <a href="back-msg-manage.html">短信管理</a>
                </li>
            </ul>
        </div>
        <!--左侧-->
        <div class="back-right">
            <div class="backr-selecthos clearfixed">
                <div class="backr-selecthos-head">
    				<span class="backr-selecth-left">
    					<i></i>评分项目
    				</span>
                    <div class="backr-selecthos-con padding0">
                        <div class="backr-bp-select">

                        </div>
                    </div>
                    <!-- 评分等级管理表格1 -->
                    <div class="charts-box clearfixed">
                        <ul class="base-charts-head clearfixed">
                            <li class="w25">评分编码</li>
                            <li class="w25">评分名称</li>
                            <li class="w25">总分</li>
                            <li class="w25">权重</li>
                        </ul>
                        <div class="base-charts-body fl">
                        	<div class="base-charts-con1">
	                            <p>
	                                <span class="w25">01</span>
	                                <span class="w25">申请单规范</span>
	                                <span class="w25">100</span>
	                                <span class="w25">30%</span>
	                            </p>
	                            <p>
	                                <span class="w25">02</span>
	                                <span class="w25">摄片规范</span>
	                                <span class="w25">100</span>
	                                <span class="w25">30%</span>
	                            </p>
	                            <p>
	                                <span class="w25">03</span>
	                                <span class="w25">诊断规范</span>
	                                <span class="w25">100</span>
	                                <span class="w25">40%</span>
	                            </p>
	                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="backr-selecthos">
                <div class="backr-selecthos-head">
                    <span class="backr-selecth-left">
                        <i></i>评分等级列表
                    </span>
                    <div class="backr-selecthos-con padding0">
                        <div class="backr-bp-select">
                            <div class="backr-bp-selectdiv backr-bp-selectdiv1 " id="revisenewrank" >
                                <a href="#">
                                    <i class=" "></i>
                                    <span>修改</span>
                                </a>
                            </div>
                            <div class="backr-bp-selectdiv " id="addnewrank">
                                <a href="#">
                                    <i class=" "></i>
                                    <span>新建</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 评分等级管理表格2 -->
                    <div class="charts-box clearfixed">
                        <ul class="base-charts-head clearfixed">
                            <li class="w34">等级</li>
                            <li class="w33">区间低分</li>
                            <li class="w33">区间高分</li>
                        </ul>
                        <div class="base-charts-body fl">
                        	<div class="base-charts-con2">
	                            <p style="border-top: none;">
	                                <span class="w34">优秀</span>
	                                <span class="w33">90</span>
	                                <span class="w33">100</span>
	                            </p>
	                            <p>
	                                <span class="w34">良好</span>
	                                <span class="w33">80</span>
	                                <span class="w33">89</span>
	                            </p>
	                            <p>
	                                <span class="w34">合格</span>
	                                <span class="w33">60</span>
	                                <span class="w33">79</span>
	                            </p>
	                            <p>
	                                <span class="w34">不合格</span>
	                                <span class="w33">0</span>
	                                <span class="w33">59</span>
	                            </p>
	                        </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="backv-addrank-layer" id="addrank" style="display: none;">
	<h1>添加等级名称</h1>
	<div class="backv-addpro-con backv-addrank-con">
		<div class="back-add-conlist backv-addrank-conlist">
			<p>等级</p>
			<input type="text" />
		</div>
		<div class="back-add-conlist backv-addrank-conlist">
			<p>区间低分</p>
			<input type="text" />
		</div>
		<div class="back-add-conlist backv-addrank-conlist">
			<p>区间高分</p>
			<input type="text" />
		</div>
	</div>
	<input class="back-add-button  backv-addrank-button" type="button" name="" id="" value="提交" />
</div>

<div class="backv-addrank-layer" id="reviserank" style="display: none;">
	<h1>添加等级名称</h1>
	<div class="backv-addpro-con backv-addrank-con">
		<div class="back-add-conlist backv-addrank-conlist">
			<p>等级</p>
			<input type="text" />
		</div>
		<div class="back-add-conlist backv-addrank-conlist">
			<p>区间低分</p>
			<input type="text" />
		</div>
		<div class="back-add-conlist backv-addrank-conlist">
			<p>区间高分</p>
			<input type="text" />
		</div>
	</div>
	<input class="back-add-button  backv-addrank-button" type="button" name="" id="" value="提交" />
</div>


<script src="../../js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="../../js/scrollbar/jquery.mCustomScrollbar.min.js"></script>
<script src="../../js/layer/layer.js" type="text/javascript"></script>

<script>
    //消息闪动
    function shake(ele, cls, times) {
        var i = 0, t = false, o = ele.attr("class") + " ", c = "", times = times || 2;
        if (t) return;

        t = setInterval(function () {
            i++;
            c = i % 2 ? o + cls : o;
            ele.attr("class", c);

            if (i == 2 * times) {
                clearInterval(t);
                ele.removeClass(cls);
            }
        }, 200);
    }
    ;
    $(function () {

        $(window).resize(function () {
            init();
        });
        function init() {
            var maxHeight = $(window).height();
            var headH = $(".header").height();
            var h4H = $("h4").height();
            var queryH = $(".backr-selecthos-head").height();
            
            var ulH = $(".base-charts-head").height();
            var pageH = 20*3+1;
            //高度计算
            var h = (maxHeight - headH - h4H - 2*queryH - 2*ulH - pageH)/2;
            var boxH = h > 400 ? 400 : h;
            $(".base-charts-body").height(boxH);
            $(".base-charts-body").mCustomScrollbar();
            $("#mCSB_1_container").css("margin-right", "0");
            $("#mCSB_2_container").css("margin-right", "0");
			var leftH=maxHeight- headH - h4H -15-1;
			$(".back-left").height(leftH);
        };
        $(window).load(function () {
            init();
        });


    })
</script>
<script>
    $(function () {
        
        $('#addnewrank').click(function(){//添加等级名称
	        layer.open({
	        type: 1,
	        title: false,
	        area:['360px', '275px'],
	        content: $('#addrank')
	   		 });
   		 })
        
        $('#revisenewrank').click(function(){//修改等级名称
	        layer.open({
	        type: 1,
	        title: false,
	        area:['360px', '275px'],
	        content: $('#reviserank')
	   		 });
   		 })
        
        $('.back-left-ul li .back-left-ula').click(function () {//左侧导航切换
            if ($(this).parent().find('.back-left-list').is(":hidden")) {
            	$('.back-left-ul li .back-left-list').hide();
                $(this).parent().find('.back-left-list').show();
                $(this).parent().addClass('current');
            }
            else {
                $(this).parent().find('.back-left-list').hide();
                $(this).parent().removeClass('current');
            }
        })
        
        $('.back-left-ulli').click(function(){//左侧导航切换
        	$('.back-left-ul li .back-left-ula').parent().removeClass('current');
        	$('.back-left-ul li .back-left-list').hide();
        	$('.back-left-listul li').removeClass('current');
        	$('.back-left-ulli').removeClass('currentli');
        	$(this).addClass('currentli');
        	
        })

        $('.backr-bp-selectdiv').click(function () {//新建删除的选中
            $('.backr-bp-selectdiv').removeClass('current');
            $('.backr-bp-selectdiv').removeClass('current1');
            $('.backr-bp-selectdiv').removeClass('current2');
            var indexVal = $(this).index();
            console.log(indexVal);
            if (indexVal == 1) {
                $('.backr-bp-selectdiv').addClass('current');
                $('.backr-bp-selectdiv1').removeClass('current');
                $('.backr-bp-selectdiv2').removeClass('current');
            }
            else if (indexVal == 0) {
                $('.backr-bp-selectdiv1').addClass('current1');
            }
            
        })
        
        $('.base-charts-body .base-charts-con1 p').click(function(){//评分项目的选中
        	$('.base-charts-body .base-charts-con1 p').removeClass('current');
        	$(this).addClass('current');
        })
        
        $('.base-charts-body .base-charts-con2 p').click(function(){//扣分明细的选中
        	$('.base-charts-body .base-charts-con2 p').removeClass('current');
        	$(this).addClass('current');
        })


    });


</script>
</body>
</html>
