<!DOCTYPE html>
<html style="height:100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>后台管理</title>
    <link href="../../css/layout.css?v=upd201600405" rel="stylesheet" type="text/css"/>
    <link href="../../css/style.css?v=upd20160427" rel="stylesheet" type="text/css"/>
    <link href="../../js/layer/skin/layer.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/imagemanage.css?v=upd20161010" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="../../images/favicon.ico">
    <link href="../../js/scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" type="text/css"/>
    <!-- respond.js for IE less than 9 -->
    <!--[if lt IE 9]>
    <script src="../../js/respond.js" type="text/javascript"></script>
    <![endif]-->
    <script>
        (function () {
            if (!
                        /*@cc-on!@*/
                            0) return;
            var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
            var i = e.length;
            while (i--) {
                document.createElement(e[i])
            }
        })()
    </script>

</head>
<body class="pacs-image-con-body" >
<div class="header backheader">
    <div class="header-content">
        <div class="head-left fl clearfixed backhead-left">
            <a href="#" class=""><img src="../../images/log.png" alt=""/></a>
            <span></span>
        </div>
	        
        <div class="head-right fl clearfixed">
            <div class="user-head">
                <img src="../../images/user.jpg" alt=""/>
            </div>
            <div class="user-info backuser-info">
                <p>
                    欢迎您，<span>用户名</span>
                    <a href="#" class="message"><i></i> <em>99+</em></a>
                </p>

                <p>
                    <a href="javascript:;">首页</a>
                    <a href="javascript:;">设置</a>
                    <a href="javascript:;">帮助</a>
                    <a href="javascript:;">退出</a>
                </p>
            </div>
        </div>

    </div>
</div>
<div class="pacs-warp">
    <h4>
        <span class="width96"><a href="#">后台管理</a> ><a href='#'>连接医生管理</a> </span>
    </h4>
    <!--左侧-->
    <div class="width96">
    	<div class="back-left">
    		<ul class="back-left-ul">
    			<li class="back-left-li0 back-left-ulli currentli">
    				<a href="back-linkhospital.html">连接医院管理</a>
    			</li>
    			<li>
    				<i></i><a class="back-left-ula" href="#">医院和用户管理</a>
    				<div class="back-left-list" style="display: none;">
    					<ul class="back-left-listul">
    						<li>
    							<a href="back-user-usermanage.html">用户/角色管理</a>
    						</li>
    						<li>
    							<a href="back-user-areamain.html">行政地区维护</a>
    						</li>
    					</ul>
    				</div>
    			</li>
    			<li >
    				<i></i><a class="back-left-ula" href="#">区域预约管理</a>
    				<div class="back-left-list" style="display: none;">
    					<ul class="back-left-listul">
    						<li >
    							<a href="back-region-hoslist.html">医院列表管理</a>
    						</li>
    						<li>
    							<a href="back-region-equiplist.html">设备列表管理</a>
    						</li>
    						<li>
    							<a href="back-region-appointment.html">预约时间管理</a>
    						</li>
    						<li >
    							<a href="back-region-check.html">检查部位管理</a>
    						</li>
    					</ul>
    				</div>
    			</li>
    			<li>
                    <i></i><a class="back-left-ula" href="#">集中诊断管理</a>
                    <div class="back-left-list"  style="display: none;">
                        <ul class="back-left-listul">
                            <li>
                                <a href="back-diagnosis-hospital.html">医院列表管理</a>
                            </li>
                            <li>
                                <a href="back-diagnosis-apply.html">申请用户管理</a>
                            </li>
                            <li>
                                <a href="back-diagnosis-user.html">诊断用户管理</a>
                            </li>
                            <li>
                                <a href="back-dianosis-center.html">诊断中心管理</a>
                            </li>
                        </ul>
                    </div>
                </li>
    			<li>
    				<i></i><a class="back-left-ula" href="#">影像质控管理</a>
    				<div class="back-left-list" style="display: none;">
    					<ul class="back-left-listul" >
    						<li>
                                <a href="back-video-project.html">评分项目管理</a>
                            </li>
                            <li>
                                <a href="back-video-rank.html">评分等级管理</a>
                            </li>	
    					</ul>
    				</div>
    			</li>
                <li  class="back-left-li5 back-left-ulli ">
                    <a href="back-data-manage.html">数据管理</a>
                </li>
                <li  class="back-left-li6 back-left-ulli ">
                    <a href="back-log-manage.html">日志管理</a>
                </li>
                <li  class="back-left-li7 back-left-ulli">
                    <a href="back-msg-manage.html">短信管理</a>
                </li>
    		</ul>
    	</div>
    	
    	<div class="back-right">
    		<div class="pacs-table-head" style="background: #fff;">
	            <div class="backr-bp-select" style="float: left;">
	            	<div class="backr-bp-selectdiv" id="hosadd" style="float: left; margin-left: 1.5%;">
	    				<a href="#">
	               			<i class=" "></i>
	               			<span>新建</span>
	               		</a>
	    			</div>
	    			<div class="backr-bp-selectdiv backr-bp-selectdiv1 " id='hosrevise'  style="float: left;">
	    				<a href="#">
	               			<i class=" "></i>
	               			<span>修改</span>
	               		</a>
	    			</div>
	    			<div class="backr-bp-selectdiv backr-bp-selectdiv2 " style="float: left;">
	    				<a href="#">
	               			<i class=" "></i>
	               			<span>删除</span>
	               		</a>
	    			</div>
	    		</div>
            <ul class="clearfix backr-hos-ul">
                <li style="width:13%;" >医院编号</li>
                <li style="width:14%;" >医院名称</li>
                <li style="width:13%;" >联系人姓名</li>
                <li style="width:13%;" >联系人电话</li>
                <li style="width:14%;" >创建时间</li>
                <li style="width:16.5%;" >地理位置</li>
                <li style="width:16.5%;" >备注</li>
            </ul>
        </div>
    		<div class="pacs-con-top" >
            <div class="pacs-content result-table-box" style="height: 1000px; overflow: hidden; background: #fff;">
                <table id="consultation-result-table" class="result-table">
                    <thead>
                    <tr >
                        <th width="13%"></th>
                        <th width="14%"></th>
                        <th width="13%"></th>
                        <th width="13%"></th>
                        <th width="14%"></th>
                       	<th width="16.5%"></th>
                        <th width="16.5%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tac">10000</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-11-11 23:20</td>
                        <td class="tac" limit="10">浙江省杭州市上城区绿都大厦4f</td>
                        <td class="tac" limit="10">该医院所有设备连接成功</td>
                    </tr>
                    <tr class="gbbj">
                        <td class="tac">10001</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-11-11 23:20</td>
                        <td class="tac" limit="10">浙江省杭州市上城区绿都大厦4f</td>
                        <td class="tac" limit="10">该医院所有设备连接成功</td>
                    </tr>
                    <tr class="ygq">
                        <td class="tac">10002</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-11-11 23:20</td>
                        <td class="tac" limit="10">浙江省杭州市上城区绿都大厦4f</td>
                        <td class="tac" limit="10">该医院所有设备连接成功</td>
                    </tr>
                    <tr class="gbbj">
                        <td class="tac">10003</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-11-11 23:20</td>
                        <td class="tac" limit="10">浙江省杭州市上城区绿都大厦4f</td>
                        <td class="tac" limit="10">该医院所有设备连接成功</td>
                    </tr>
                    <tr >
                        <td class="tac">10004</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-11-11 23:20</td>
                        <td class="tac" limit="10">浙江省杭州市上城区绿都大厦4f</td>
                        <td class="tac" limit="10">该医院所有设备连接成功</td>
                    </tr>
                    <tr class="gbbj">
                        <td class="tac">10005</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-11-11 23:20</td>
                        <td class="tac" limit="10">浙江省杭州市上城区绿都大厦4f</td>
                        <td class="tac" limit="10">该医院所有设备连接成功</td>
                    </tr>
                    <tr>
                        <td class="tac">10006</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-11-11 23:20</td>
                        <td class="tac" limit="10">浙江省杭州市上城区绿都大厦4f</td>
                        <td class="tac" limit="10">该医院所有设备连接成功</td>
                    </tr>
                    <tr class="gbbj">
                        <td class="tac">10007</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-11-11 23:20</td>
                        <td class="tac" limit="10">浙江省杭州市上城区绿都大厦4f</td>
                        <td class="tac" limit="10">该医院所有设备连接成功</td>
                    </tr>
                    <tr>
                        <td class="tac">10008</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-11-11 23:20</td>
                        <td class="tac" limit="10">浙江省杭州市上城区绿都大厦4f</td>
                        <td class="tac" limit="10">该医院所有设备连接成功</td>
                    </tr>
                    <tr class="gbbj">
                        <td class="tac">10009</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-11-11 23:20</td>
                        <td class="tac" limit="10">浙江省杭州市上城区绿都大厦4f</td>
                        <td class="tac" limit="10">该医院所有设备连接成功</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    		
    	<div class="region-con-page ">
            <div class="region-con-pagecon">
            	<span class="region-conp-span1"><a href="#"><<</a></span>
            	<span class="region-conp-span2"><a href="#"><</a></span>
            	<span class="current"><a href="#">1</a></span>
            	<span><a href="#">2</a></span>
            	<span><a href="#">3</a></span>
            	<span><a href="#">4</a></span>
            	<a href="#">...</a>
            	<span><a href="#">10</a></span>
            	<span class="region-conp-span3"><a href="#">></a></span>
            	<span class="region-conp-span4"><a href="#">>></a></span>
            	<p class="region-conp-p">
            		跳转到：
            		<input style="margin-left: 2px;" type="text" name="" id="" value="" />
            		页
            	
            		<input class="region-cp-b" type="button" name="" id="" value="确定" />
            	</p>
            </div>
        </div>	
    	
    		
    	</div>
    </div>
    
     
</div>

<div class="back-addlinkhos" id="addlinkhos" style="display: none;">
	<h1>新建医院</h1>
	<div class="backv-addpro-con back-addlinkhos-con ">
		<div class="back-add-conlist">
			<p><i>*</i>医院编码</p>
			<input type="text" />
		</div>
		<div class="back-add-conlist">
			<p><i>*</i>医院名称</p>
			<input type="text" />
		</div>
		<div class="back-add-conlist">
			<p>医院等级</p>
			<div class="user-select pacs-select"  style="width:318px; margin: 0;">
		        <div class="grey-select" style="background: #fafafa;">
		            <span class="user-select-span select-1-span">省级</span>
		            <i></i>
		        </div>
		        <ul class="user-select-ul select-1-ul" style="width: 100%;">
		            <li><a title="省级" href="javascript:;">省级</a></li>
		            <li><a title="省级" href="javascript:;">省级</a></li>
		            <li><a title="省级" href="javascript:;">省级</a></li>
		            <li><a title="省级" href="javascript:;">省级</a></li>
		            <li><a title="省级" href="javascript:;">省级</a></li>
		            <li><a title="省级" href="javascript:;">省级</a></li>
		        </ul>
            </div>
		</div>
		<div class="back-add-conlist">
			<p>联系人</p>
			<input type="text" />
		</div>
		<div class="back-add-conlist">
			<p>联系人电话</p>
			<input type="text" />
		</div>
		<div class="back-add-conlist">
			<p>所在地区</p>
			<div class="user-select pacs-select"  style="width:98px; margin: 0; margin-right: 12px;">
		        <div class="grey-select" style="background: #fafafa; min-width: 80px;">
		            <span class="user-select-span select-1-span">省</span>
		            <i></i>
		        </div>
		        <ul class="user-select-ul select-1-ul" style="width: 100%;">
		            <li><a title="贵州" href="javascript:;">贵州</a></li>
		            <li><a title="贵州" href="javascript:;">贵州</a></li>
		            <li><a title="贵州" href="javascript:;">贵州</a></li>
		            <li><a title="贵州" href="javascript:;">贵州</a></li>
		            <li><a title="贵州" href="javascript:;">贵州</a></li>
		            <li><a title="贵州" href="javascript:;">贵州</a></li>
		        </ul>
            </div>
            <div class="user-select pacs-select"  style="width:90px; margin: 0; margin-right: 12px;">
		        <div class="grey-select" style="background: #fafafa; min-width: 80px;">
		            <span class="user-select-span select-1-span">市</span>
		            <i></i>
		        </div>
		        <ul class="user-select-ul select-1-ul" style="width: 100%;">
		            <li><a title="贵阳" href="javascript:;">贵阳</a></li>
		            <li><a title="贵阳" href="javascript:;">贵阳</a></li>
		            <li><a title="贵阳" href="javascript:;">贵阳</a></li>
		            <li><a title="贵阳" href="javascript:;">贵阳</a></li>
		            <li><a title="贵阳" href="javascript:;">贵阳</a></li>
		            <li><a title="贵阳" href="javascript:;">贵阳</a></li>
		        </ul>
            </div>
            <div class="user-select pacs-select"  style="width:98px; margin: 0; margin-right: 10px;">
		        <div class="grey-select" style="background: #fafafa; min-width: 80px;">
		            <span class="user-select-span select-1-span">区</span>
		            <i></i>
		        </div>
		        <ul class="user-select-ul select-1-ul" style="width: 100%;">
		            <li><a title="花溪" href="javascript:;">花溪</a></li>
		            <li><a title="花溪" href="javascript:;">花溪</a></li>
		            <li><a title="花溪" href="javascript:;">花溪</a></li>
		            <li><a title="山岩" href="javascript:;">山岩</a></li>
		            <li><a title="山岩" href="javascript:;">山岩</a></li>
		            <li><a title="山岩" href="javascript:;">山岩</a></li>
		        </ul>
            </div>
		</div>
		<div class="back-add-conlist">
			<p>详细地址</p>
			<input type="text" />
		</div>
		<div class="back-add-conlist ">
			<p>备注</p>
			<textarea name="" rows="" cols=""></textarea>
		</div>
	</div>
	<input class="back-add-button" type="button" name="" id="" value="提交" />
</div>


<div class="back-addlinkhos" id="reviselinkhos" style="display: none;">
	<h1>修改部位</h1>
	<div class="backv-addpro-con back-addlinkhos-con ">
		<div class="back-add-conlist">
			<p><i>*</i>医院编码</p>
			<input type="text" />
		</div>
		<div class="back-add-conlist">
			<p><i>*</i>医院名称</p>
			<input type="text" />
		</div>
		<div class="back-add-conlist">
			<p>医院等级</p>
			<div class="user-select pacs-select"  style="width:318px; margin: 0;">
		        <div class="grey-select" style="background: #fafafa;">
		            <span class="user-select-span select-1-span">省级</span>
		            <i></i>
		        </div>
		        <ul class="user-select-ul select-1-ul" style="width: 100%;">
		            <li><a title="省级" href="javascript:;">省级</a></li>
		            <li><a title="省级" href="javascript:;">省级</a></li>
		            <li><a title="省级" href="javascript:;">省级</a></li>
		            <li><a title="省级" href="javascript:;">省级</a></li>
		            <li><a title="省级" href="javascript:;">省级</a></li>
		            <li><a title="省级" href="javascript:;">省级</a></li>
		        </ul>
            </div>
		</div>
		<div class="back-add-conlist">
			<p>联系人</p>
			<input type="text" />
		</div>
		<div class="back-add-conlist">
			<p>联系人电话</p>
			<input type="text" />
		</div>
		<div class="back-add-conlist">
			<p>所在地区</p>
			<div class="user-select pacs-select"  style="width:98px; margin: 0; margin-right: 12px;">
		        <div class="grey-select" style="background: #fafafa; min-width: 80px;">
		            <span class="user-select-span select-1-span">省</span>
		            <i></i>
		        </div>
		        <ul class="user-select-ul select-1-ul" style="width: 100%;">
		            <li><a title="贵州" href="javascript:;">贵州</a></li>
		            <li><a title="贵州" href="javascript:;">贵州</a></li>
		            <li><a title="贵州" href="javascript:;">贵州</a></li>
		            <li><a title="贵州" href="javascript:;">贵州</a></li>
		            <li><a title="贵州" href="javascript:;">贵州</a></li>
		            <li><a title="贵州" href="javascript:;">贵州</a></li>
		        </ul>
            </div>
            <div class="user-select pacs-select"  style="width:90px; margin: 0; margin-right: 12px;">
		        <div class="grey-select" style="background: #fafafa; min-width: 80px;">
		            <span class="user-select-span select-1-span">市</span>
		            <i></i>
		        </div>
		        <ul class="user-select-ul select-1-ul" style="width: 100%;">
		            <li><a title="贵阳" href="javascript:;">贵阳</a></li>
		            <li><a title="贵阳" href="javascript:;">贵阳</a></li>
		            <li><a title="贵阳" href="javascript:;">贵阳</a></li>
		            <li><a title="贵阳" href="javascript:;">贵阳</a></li>
		            <li><a title="贵阳" href="javascript:;">贵阳</a></li>
		            <li><a title="贵阳" href="javascript:;">贵阳</a></li>
		        </ul>
            </div>
            <div class="user-select pacs-select"  style="width:98px; margin: 0; margin-right: 10px;">
		        <div class="grey-select" style="background: #fafafa; min-width: 80px;">
		            <span class="user-select-span select-1-span">区</span>
		            <i></i>
		        </div>
		        <ul class="user-select-ul select-1-ul" style="width: 100%;">
		            <li><a title="花溪" href="javascript:;">花溪</a></li>
		            <li><a title="花溪" href="javascript:;">花溪</a></li>
		            <li><a title="花溪" href="javascript:;">花溪</a></li>
		            <li><a title="山岩" href="javascript:;">山岩</a></li>
		            <li><a title="山岩" href="javascript:;">山岩</a></li>
		            <li><a title="山岩" href="javascript:;">山岩</a></li>
		        </ul>
            </div>
		</div>
		<div class="back-add-conlist">
			<p>详细地址</p>
			<input type="text" />
		</div>
		<div class="back-add-conlist ">
			<p>备注</p>
			<textarea name="" rows="" cols=""></textarea>
		</div>
	</div>
	<input class="back-add-button" type="button" name="" id="" value="提交" />
</div>



<script src="../../js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="../../js/scrollbar/jquery.mCustomScrollbar.min.js"></script>
<script src="../../js/jquery.select.js" type="text/javascript"></script>
<script src="../../js/layer/layer.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery.fn.limit=function(){  
    var self = $("[limit]");  
    self.each(function(){  
        var objString = $(this).text();  
        var objLength = $(this).text().length;  
        var num = $(this).attr("limit");  
        if(objLength > num){  
            $(this).attr("title",objString);  
            objString = $(this).text(objString.substring(0,num) + " ...");  
        }  
    })  
}  
</script>
<script>
    //消息闪动
    function shake(ele, cls, times) {
        var i = 0, t = false, o = ele.attr("class") + " ", c = "", times = times || 2;
        if (t) return;

        t = setInterval(function () {
            i++;
            c = i % 2 ? o + cls : o;
            ele.attr("class", c);

            if (i == 2 * times) {
                clearInterval(t);
                ele.removeClass(cls);
            }
        }, 200);
    };
    $(function () {

        $(window).resize(function(){
            init();
        });

        function init() {
            var maxHeight = $(window).height();
            var headH = $(".header").height();
            var h4H = $("h4").height();
            var tableH = $(".pacs-table-head").height();
            var pageH=$('.region-con-page').height();
            var padH = 20+15+2;
            //高度计算
            var h = maxHeight-headH-h4H-tableH-pageH-padH;
           // var boxH = h >770 ? 770 : h;
            $(".pacs-con-top").height(h);
            $(".pacs-con-top").mCustomScrollbar();
            $("#mCSB_1_container").css("margin-right","0");
            $("#mCSB_2_container").css("margin-right","0");
			var leftH=maxHeight- headH - h4H -15-1;
			$(".back-left").height(leftH);
           

        };
       $(window).load(function () {

            init();            
       });
    })
</script>
<script>
    $(function () {
        $.divselect(".user-select", ".user-select-ul", ".user-select-span");
        
        $('.result-table tr').click(function(){//表格的选中
        		//console.log(11);
    			$('.result-table tr').removeClass('current');
    			$(this).addClass('current');
    		})
        
         $(function(){  
    		$("[limit]").limit();  
			}) 
		
        $('.back-left-ul li .back-left-ula').click(function(){//左侧导航切换	
        	if($(this).parent().find('.back-left-list').is(":hidden")){ 
        		$('.back-left-ul li .back-left-list').hide();
        		$(this).parent().find('.back-left-list').show();
        		$(this).parent().addClass('current');
        	}
        	else{
        		$(this).parent().find('.back-left-list').hide();
        		$(this).parent().removeClass('current');
        	}
        })
        
        $('.back-left-ulli').click(function(){//左侧导航切换
        	$('.back-left-ul li .back-left-ula').parent().removeClass('current');
        	$('.back-left-ul li .back-left-list').hide();
        	$('.back-left-listul li').removeClass('current');
        	$('.back-left-ulli').removeClass('currentli');
        	$(this).addClass('currentli');
        	
        })
        
        $('.backr-bp-selectdiv').click(function(){//新建删除的选中
        	$('.backr-bp-selectdiv').removeClass('current');
        	$('.backr-bp-selectdiv').removeClass('current1');
        	$('.backr-bp-selectdiv').removeClass('current2');
        	var indexVal=$(this).index();
        	if(indexVal==0){
        		$('.backr-bp-selectdiv').addClass('current');
        		$('.backr-bp-selectdiv1').removeClass('current');
        		$('.backr-bp-selectdiv2').removeClass('current');
        	}
        	else if(indexVal==1){
        		$('.backr-bp-selectdiv1').addClass('current1');
        	}
        	else{
        		$('.backr-bp-selectdiv2').addClass('current2');
        	}
        })
        
        $('#hosadd').click(function(){//新增医院
	        layer.open({
	        type: 1,
	        title: false,
	        area:['500px', '522px'],
	        content: $('#addlinkhos')
	   		 });
   		 })
        
        $('#hosrevise').click(function(){//修改医院
	        layer.open({
	        type: 1,
	        title: false,
	        area:['500px', '522px'],
	        content: $('#reviselinkhos')
	   		 });
   		 })
        
        
        $('.region-con-pagecon span').click(function(){  //页脚
        	for(var i=0; i<$('.region-con-pagecon span').length;i++){
        			if($('.region-con-pagecon span').eq(i).attr("class")=='current'){
        				var index=i;
        			}
        		}
        	$('.region-con-pagecon span').removeClass('current');
 	if($(this).attr("class")=='region-conp-span1'||$(this).attr("class")=='region-conp-span2'||$(this).attr("class")=='region-conp-span3'||$(this).attr("class")=='region-conp-span4'){
        		console.log(index);
        		$('.region-con-pagecon span').eq(index).addClass('current');
        	}
        	else{
        		$(this).addClass('current');
        	}
       
        })
        
 
    });
    
    
</script>
</body>
</html>
