<!DOCTYPE html>
<html style="height:100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>执行预约</title>
    <link href="../../css/layout.css?v=upd201600405" rel="stylesheet" type="text/css"/>
    <link href="../../css/style.css?v=upd20160427" rel="stylesheet" type="text/css"/>
    <link href="../../js/layer/skin/layer.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/imagemanage.css?v=upd20161010" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="../../images/favicon.ico">
    <link href="../../js/scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" type="text/css"/>
    <!-- respond.js for IE less than 9 -->
    <!--[if lt IE 9]>
    <script src="../../js/respond.js" type="text/javascript"></script>
    <![endif]-->
<style>
    .pacs-consultation2 .user-select,.pacs-consultation3 .user-select{width: 97%;}
</style>
</head>
<body class="pacs-image-con-body">
<div class="header">
    <div class="header-content">
        <div class="head-left fl clearfixed">
            <a href="#" class=""><img src="../../images/log.png" alt=""/></a>
            <span></span>
        </div>
	        <ul class="head-center fl clearfixed">
	           <li ><a href="region-apply.html">申请预约</a></li>
			   <li class="current"><a href="region-execute.html">执行预约</a></li>
	           <li><a href="region-query.html">预约查询</a></li>
	        </ul>
        <div class="head-right fl clearfixed">
            <div class="user-head">
                <img src="../../images/user.jpg" alt=""/>
            </div>
            <div class="user-info">
                <p>
                    欢迎您，<span>用户名</span>
                    <a href="#" class="message"><i></i> <em>99+</em></a>
                </p>

                <p>
                    <a href="javascript:;">首页</a>
                    <a href="javascript:;">设置</a>
                    <a href="javascript:;">帮助</a>
                    <a href="javascript:;">退出</a>
                </p>
            </div>
        </div>

    </div>
</div>
<div class="pacs-warp">
    <h4>
        <span class="width96"><a href="pacs.html">区域预约</a> ><a href='#'  >申请预约</a></span>
    </h4>
    <div id="image-con" class="report-list">
        <div class="width96 pacs-content">
            <div class="query-content pacs-consultation clearfixed">
                
                <div class="pacs-consultation2">
                    <i></i> 
                    <i></i>

                    <div class="user-select pacs-select">
                        <p>预约号：</p>
                        <input class="user-name" type="text"/>
                    </div>
                    <div class="user-select pacs-select">
                        <p>姓&nbsp;&nbsp;&nbsp;名：</p>
                        <input class="user-name" type="text"/>
                        
                    </div>
                </div>
                <div class="pacs-consultation3 clearfixed">
                    <div class="number fl">
                        <div class="user-select pacs-select" style="margin-top: 0px; width: 25%; float: left; margin-right: 5%;">
                        <div class="grey-select" style="min-width: 77px; float: left; width: 100%;">
                            <span class="user-select-span select-1-span">病历号</span>
                            <i></i>
                        </div>
                        <ul class="user-select-ul select-1-ul" style="width: 100%;z-index: 100; left: 1px;">
                            <li><a title="病历号" href="javascript:;">病历号</a></li>
                            <li><a title="病历号" href="javascript:;">病历号</a></li>
                            <li><a title="病历号" href="javascript:;">病历号</a></li>
                            <li><a title="病历号" href="javascript:;">病历号</a></li>
                            <li><a title="病历号" href="javascript:;">病历号</a></li>
                            <li><a title="病历号" href="javascript:;">病历号</a></li>
                        </ul>
                    </div>
                        <input type="text"  style="width: 60%;" />
                    </div>
                    <div class="number fl">
                    	
                    	
                    	<div class="user-select pacs-select" style="margin-top: 0px;">
                        <p>执行医院：</p>

                        <div class="grey-select" style="min-width: 80px; float: left; width: 75%;">
                            <span class="user-select-span select-1-span">上海交通大学医学院附属上海儿童医学中心</span>
                            <i></i>
                        </div>
                        <ul class="user-select-ul select-1-ul" style="width: 75%;z-index: 100; ">
                            <li><a title="上海交通大学医学院附属上海儿童医学中心" href="javascript:;">上海交通大学医学院附属上海儿童医学中心</a></li>
                            <li><a title="上海交通大学医学院附属上海儿童医学中心" href="javascript:;">上海交通大学医学院附属上海儿童医学中心</a></li>
                            <li><a title="上海交通大学医学院附属上海儿童医学中心" href="javascript:;">上海交通大学医学院附属上海儿童医学中心</a></li>
                            <li><a title="上海交通大学医学院附属上海儿童医学中心" href="javascript:;">上海交通大学医学院附属上海儿童医学中心</a></li>
                            <li><a title="上海交通大学医学院附属上海儿童医学中心" href="javascript:;">上海交通大学医学院附属上海儿童医学中心</a></li>
                            <li><a title="上海交通大学医学院附属上海儿童医学中心" href="javascript:;">上海交通大学医学院附属上海儿童医学中心</a></li>
                        </ul>
                    </div>
                    </div>
                    <div style="width:100%;" class="pacs-consultation-time fl clearfixed ">
                        <div style="width:50%; margin-top: 4px;" class="user-select pacs-select fl">
                        	<p style="width: 25%; margin-right: 5%; text-align: right;">状&nbsp;&nbsp;&nbsp;态：</p>
                            <div class="grey-select" style="min-width:80px; width: 60%; float: left; ">
                                <span class="user-select-span select-1-span">待诊断</span>
                                <i></i>
                            </div>
                            <ul class="user-select-ul select-1-ul" style="width: 60.2%;z-index: 100;  top: 31px;
    left: 114px; ">
                                <li><a href="javascript:;">杭州</a></li>
                                <li><a href="javascript:;">南昌</a></li>
                                <li><a href="javascript:;">上海</a></li>
                                <li><a href="javascript:;">杭州</a></li>
                                <li><a href="javascript:;">南昌</a></li>
                                <li><a href="javascript:;">上海</a></li>
                            </ul>
                        </div>
                        <div style="width:50%;" class="fl">
                            <div class="pacs-query-time fl">
                            	<p>预约时间：</p>
                                <input class="Wdate fl" onFocus="WdatePicker({lang:'zh-cn'})"/>
                                <b class="fl">～</b>
                                <input class="Wdate fl" style="margin-left: 7px;" onFocus="WdatePicker({lang:'zh-cn'})"/>

                                <p style="font-size: 12px; width: 78%; margin-left: 72px;" class="region-time-p">
                                    <span class="time-on">今天</span>
                                    <span>三天</span>
                                    <span>一周</span>
                                    <span>一个月</span>
                                    <span>三个月</span>
                                    <span>半年</span>
                                </p>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
                <div class="pacs-consultation4">
                    <a class="reset-btn" href="javascript:;">重置</a>
                    <a class="pacs-search-btn" href="javascript:;" style="margin-top: 23px;">
                        查询
                    </a>
                </div>
            </div>
        </div>
        <div class="pacs-table-head width96">
            <div class="region-result-head">
               <ul class="region-r-h-ul  region-r-e-ul clearfix">
               	<li class="region-exe-sure">
               		<a href="#">
               			<i class="region-rh-i5"></i>
               			<span>执行预约</span>
               		</a>
               	</li>
               	<li class="region-rh-li1"> 
               		<a href="region-executedetail.html">
               			<i class="region-rh-i2"></i>
               			<span>详情查看</span>  
               		</a>
               	</li>
               	
               	
               </ul>
            </div>
            <ul class="clearfix">  
                <li style="width:8%;" >预约状态</li>  
                <li style="width:7%;" >申请医院</li>
                <li style="width:7%;" >执行医院</li>
                <li style="width:7%;" >预约时间</li>
                <li style="width:7%;" >预约号</li>
                <li style="width:7%;" >病历号</li>
                <li style="width:7%;" >患者姓名</li>
                <li style="width:8%;" >性别</li>
                <li style="width:7%;" >患者电话</li>
                <li style="width:7%;" >申请医生</li>
                <li style="width:7%;" >医生电话</li>
                <li style="width:7%;" >申请时间</li>
                <li style="width:7%;" >类型</li>
                <li style="width:7%;" >检查部位</li>
            </ul>
        </div>
        <div class="pacs-con-top" >
            <div class="pacs-content width96 result-table-box" style="height: 1000px; overflow: hidden; background: #fff;">
                <table id="consultation-result-table" class="result-table">
                    <thead>
                    <tr >
                        <th width="8%"></th>
                        <th width="7%"></th>
                        <th width="7%"></th>
                        <th width="7%"></th>
                        <th width="7%"></th>
                        <th width="7%"></th>
                        <th width="7%"></th>
                        <th width="7%"></th>
                        <th width="8%"></th>
                        <th width="7%"></th>
                        <th width="7%"></th>
                        <th width="7%"></th>
                        <th width="7%"></th>
                        <th width="7%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tac">已申请</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac">2017-11-11 6:00</td>
                        <td class="tac">0013</td>
                        <td class="tac">DRE526847</td>
                        <td class="tac">王小二</td>
                        <td class="tal">女</td>
                        <td class="tac">12345678910</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-01-01 18:33</td>
                        <td class="tac">CT</td>
                        <td class="tac">头部</td>
                    </tr>
                    <tr class="gbbj">
                        <td class="tac">已申请</td>
                        <td class="tac" limit="10">浙一医院</td>
                        <td class="tac" limit="10">浙二医院</td>
                        <td class="tac">2017-11-11 6:00</td>
                        <td class="tac">0013</td>
                        <td class="tac">DRE526847</td>
                        <td class="tac">王小二</td>
                        <td class="tal">女</td>
                        <td class="tac">12345678910</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-01-01 18:33</td>
                        <td class="tac">CT</td>
                        <td class="tac">头部</td>
                    </tr>
                    <tr class="ygq">
                        <td class="tac">已过期</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac" limit="10">浙二医院</td>
                        <td class="tac">2017-11-11 6:00</td>
                        <td class="tac">0013</td>
                        <td class="tac">DRE526847</td>
                        <td class="tac">王小二</td>
                        <td class="tal">女</td>
                        <td class="tac">12345678910</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-01-01 18:33</td>
                        <td class="tac">CT</td>
                        <td class="tac">头部</td>
                    </tr>
                    <tr class="gbbj">
                        <td class="tac">已申请</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac">2017-11-11 6:00</td>
                        <td class="tac">0013</td>
                        <td class="tac">DRE526847</td>
                        <td class="tac">王小二</td>
                        <td class="tal">女</td>
                        <td class="tac">12345678910</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-01-01 18:33</td>
                        <td class="tac">CT</td>
                        <td class="tac">头部</td>
                    </tr>
                    <tr >
                        <td class="tac">已申请</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac">2017-11-11 6:00</td>
                        <td class="tac">0013</td>
                        <td class="tac">DRE526847</td>
                        <td class="tac">王小二</td>
                        <td class="tal">女</td>
                        <td class="tac">12345678910</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-01-01 18:33</td>
                        <td class="tac">CT</td>
                        <td class="tac">头部</td>
                    </tr>
                    <tr class="gbbj">
                        <td class="tac">已申请</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac">2017-11-11 6:00</td>
                        <td class="tac">0013</td>
                        <td class="tac">DRE526847</td>
                        <td class="tac">王小二</td>
                        <td class="tal">女</td>
                        <td class="tac">12345678910</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-01-01 18:33</td>
                        <td class="tac">CT</td>
                        <td class="tac">头部</td>
                    </tr>
                    <tr>
                        <td class="tac">已申请</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac">2017-11-11 6:00</td>
                        <td class="tac">0013</td>
                        <td class="tac">DRE526847</td>
                        <td class="tac">王小二</td>
                        <td class="tal">女</td>
                        <td class="tac">12345678910</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-01-01 18:33</td>
                        <td class="tac">CT</td>
                        <td class="tac">头部</td>
                    </tr>
                    <tr class="gbbj">
                        <td class="tac">已申请</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac">2017-11-11 6:00</td>
                        <td class="tac">0013</td>
                        <td class="tac">DRE526847</td>
                        <td class="tac">王小二</td>
                        <td class="tal">女</td>
                        <td class="tac">12345678910</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-01-01 18:33</td>
                        <td class="tac">CT</td>
                        <td class="tac">头部</td>
                    </tr>
                    <tr>
                        <td class="tac">已申请</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac">2017-11-11 6:00</td>
                        <td class="tac">0013</td>
                        <td class="tac">DRE526847</td>
                        <td class="tac">王小二</td>
                        <td class="tal">女</td>
                        <td class="tac">12345678910</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-01-01 18:33</td>
                        <td class="tac">CT</td>
                        <td class="tac">头部</td>
                    </tr>
                    <tr class="gbbj">
                        <td class="tac">已申请</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac" limit="10">浙江大学医学附属妇产科医院</td>
                        <td class="tac">2017-11-11 6:00</td>
                        <td class="tac">0013</td>
                        <td class="tac">DRE526847</td>
                        <td class="tac">王小二</td>
                        <td class="tal">女</td>
                        <td class="tac">12345678910</td>
                        <td class="tal">汪达尔</td>
                        <td class="tac">12345678910</td>
                        <td class="tac">2017-01-01 18:33</td>
                        <td class="tac">CT</td>
                        <td class="tac">头部</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="region-con-page width96">
            <div class="region-con-pagecon">
            	<span class="region-conp-span1"><a href="#"><<</a></span>
            	<span class="region-conp-span2"><a href="#"><</a></span>
            	<span class="current"><a href="#">1</a></span>
            	<span><a href="#">2</a></span>
            	<span><a href="#">3</a></span>
            	<span><a href="#">4</a></span>
            	<a href="#">...</a>
            	<span><a href="#">6</a></span>
            	<span class="region-conp-span3"><a href="#">></a></span>
            	<span class="region-conp-span4"><a href="#">>></a></span>
            	<p class="region-conp-p">
            		跳转到：
            		<input style="margin-left: 2px;" type="text" name="" id="" value="" />
            		页
            		<input class="region-cp-b"  type="bottom" value="确定" />
            	</p>
            </div>
        </div>
    </div>
    
    <div class="region-execute-layer" id="execute" style="display: none;">
            <input class="doinput" type="text" placeholder="请输入" />  
    	<div class="region-elay">
    		<input class="region-elay-sure" type="button" name="" id="" value="确定" />
    		<input class="region-elay-del" type="button" name="" id="" value="取消" />
    	</div>
    </div>
    

<script src="../../js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="../../js/scrollbar/jquery.mCustomScrollbar.min.js"></script>
<script src="../../js/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
<script src="../../js/jquery.select.js" type="text/javascript"></script>
<script src="../../js/layer/layer.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery.fn.limit=function(){  
    var self = $("[limit]");  
    self.each(function(){  
        var objString = $(this).text();  
        var objLength = $(this).text().length;  
        var num = $(this).attr("limit");  
        if(objLength > num){  
            $(this).attr("title",objString);  
            objString = $(this).text(objString.substring(0,num) + " ...");  
        }  
    })  
}  
</script>
<script>
    //消息闪动
    function shake(ele, cls, times) {
        var i = 0, t = false, o = ele.attr("class") + " ", c = "", times = times || 2;
        if (t) return;

        t = setInterval(function () {
            i++;
            c = i % 2 ? o + cls : o;
            ele.attr("class", c);

            if (i == 2 * times) {
                clearInterval(t);
                ele.removeClass(cls);
            }
        }, 200);
    };
    $(function () {

        $(window).resize(function(){
            init();
        });

        shake($(".message"), "alert", 8);

        $(".consultation-result-head span").click(function () {
            var i = $(this).attr("class");
            var len = $("#consultation-result-table tbody tr").length;
//            var trs = [];
            trs = [];
            if (i == "result-head-con") {
                for (var i = 0; i < len; i++) {
                    if ($("#consultation-result-table tbody tr").eq(i).find("td").eq("11").text() == "待诊断") {
                        trs.push($("#consultation-result-table tbody tr").eq(i).find("td").eq("11").parent());
                        $("#consultation-result-table tbody tr").eq(i).find("td").eq("11").parent().siblings().hide();
                    }
                }
                for (var i = 0; i < trs.length; i++) {
                    trs[i].show();
                }
            } else if (i == "result-head-examine") {

            } else {
                for (var i = 0; i < len; i++) {
                    if ($("#consultation-result-table tbody tr").eq(i).find("td").eq("11").text() == "已完成") {
                        trs.push($("#consultation-result-table tbody tr").eq(i).find("td").eq("11").parent());
                        $("#consultation-result-table tbody tr").eq(i).find("td").eq("11").parent().siblings().hide();
                    }
                }
                for (var i = 0; i < trs.length; i++) {
                    trs[i].show();
                }
            }
        });

        



        function init() {

            var clickY, topOffset;
            var dragging = false;
            var doc = document;
            var coor = $("#coor");

            var maxHeight = $(window).height();
            var headH = $(".header").height();
            var h4H = $("h4").height();
            var queryH = $(".query-content").height();
            var tableH = $(".pacs-table-head").height();
            var pageH = 70;
            //高度计算
            var h = maxHeight-headH-h4H-queryH-tableH-pageH-20;
            var boxH = h >1000 ? 1000 : h;
            $(".pacs-con-top").height(boxH);
            $(".pacs-con-top").mCustomScrollbar();
            $("#mCSB_1_container").css("margin-right","0");
            $("#mCSB_2_container").css("margin-right","0");

           

        };


        $(window).load(function () {
        	
        	$('.result-table tr').click(function(){
        		//console.log(11);
    			$('.result-table tr').removeClass('current');
    			$(this).addClass('current');
    		})
        	
           
        

            init();
            $(".bghj-content").mCustomScrollbar();
            $(".part-bghj-right").mCustomScrollbar();
            $(".pacs-bottom-btn6").click(function () {
                var maxHeight = $(window).height();//662
                var headH = $(".header").height();//80
                var h4H = $("h4").height();//82
                var queryH = 165;
                var tableH = 50;
                var pageH = 70;
                $(".pacs-con-top").show();
                //高度计算
                $(".pacs-con-page").height(70);
                $("#pacs-con-top").height(maxHeight-headH-h4H-queryH-tableH-pageH-20);
        
            });
           

        });
    })
</script>
<script>
    $(function () {
        $.divselect(".user-select", ".user-select-ul", ".user-select-span");
        
        $('.region-exe-sure').click(function(){
	        layer.open({
	        type: 1,
	        title: false,
	        area:['280px', '170px'],
	        content: $('#execute')
	   		 });
   		 })
        
        $('.region-con-pagecon span').click(function(){  
        	for(var i=0; i<$('.region-con-pagecon span').length;i++){
        			if($('.region-con-pagecon span').eq(i).attr("class")=='current'){
        				var index=i;
        			}
        		}
        	$('.region-con-pagecon span').removeClass('current');
 	if($(this).attr("class")=='region-conp-span1'||$(this).attr("class")=='region-conp-span2'||$(this).attr("class")=='region-conp-span3'||$(this).attr("class")=='region-conp-span4'){
        		console.log(index);
        		$('.region-con-pagecon span').eq(index).addClass('current');
        	}
        	else{
        		$(this).addClass('current');
        	}
       
        })
        
        $('.region-r-h-ul li').click(function(){//登记预约，详情查看等选中
        	$('.region-r-h-ul li').removeClass('current');
        	$('.region-r-h-ul li').removeClass('region-rh-back1');
        	$('.region-r-h-ul li').removeClass('region-rh-back2');
        	$(this).addClass('current');
        	var indexVal=$(this).index();
        	if(indexVal=='0'){
        		$(this).addClass('region-rh-back1');
        	}
        	else if(indexVal=='1'){
        		$(this).addClass('region-rh-back2');
        	}
        })
        
        $('.region-time-p span').click(function(){
        	$('.region-time-p span').removeClass('time-on');
        	$(this).addClass('time-on');
        })

         $(function(){  
    		$("[limit]").limit();  
		}) 
    });
    
    
</script>
</body>
</html>
